{% extends 'main.html'%}
{% load static %}
{%block body%}


<style>
  <!--
  .menu:hover {
    background-color: #75d500 !important;
    border-color: #75d500 !important;
    color: #fff;
  }
  -->
  </style>

<div class="container" style="text-align: center;width:70%;">
  <div >
  <div style="height: 20px;"></div>

  <h3 class="mb-3"style="color: #000;">เริ่มการค้นหาได้ทันที</h3>

  <form action="/swhileproducts" method="get">
    <div class="mb-3">
      <input type="text" class="form-control" id="s" name="s" aria-describedby="text">
      <div id="emailHelp" class="form-text">ค้นหาในสิ่งที่คุณต้องการ</div>
    </div>

  
  <button class="btn btn-primary p-2 mb-1" type="submit"
    style="background-color: #2266bb !important; border-color: #2266bb;color:#fff;">
    <div class="c1 fsize">
      <i class="fas fa-search "> ค้นหา </i>
    </div>
  </button>
</form>
</div>
</div>



{% comment %} 

<div class="row"style="padding-top:5%;">
<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <img src="{% static 'img/1.png' %}" class="card-img-top" alt="">
  <div class="card-body">
    <p class="card-text">ชื่อ</p>
    <p class="card-text">ราคา</p>
    <p class="card-text">รายละเอียด</p>
    <div style="align: right">
    <button type="submit" class="btn btn-primary">ซื้อ</button>
    </div>
  </div>
</div> {% endcomment %}


{% comment %} Menu {% endcomment %}



<div class="container" style="padding-top: 8%;">




  <div class="btn-group" role="group" aria-label="Basic example" >
    <button type="button" style="background-color: #f00;
    border-color: #000;"class="btn btn-danger"><i class="bi bi-star"></i> แนะนำ</button>

    <button type="button" style="background-color: #000;
    border-color: #000;"class="btn btn-success menu">คอมพิวเตอร์</button>

    <button type="button" style="background-color: #000;
    border-color: #000;"class="btn btn-success menu">ปรินเตอร์</button>

    <a href="showwhileproducts" type="button" style="background-color: #000;
    border-color: #000;"class="btn btn-success menu" >เมาส์</a>

    <button type="button" style="background-color: #000;
    border-color: #000;"class="btn btn-success menu">คีย์บอร์ด</button>

    
    <button type="button" style="background-color: #000;
    border-color: #000;"class="btn btn-success menu">แฟรชไดร์</button>

    <button type="button" style="background-color: #000;
    border-color: #000;"class="btn btn-success menu">Router</button>


  </div>




  <div class="container" style="padding-top: 2%;"></div>
   

  <div class="row">
    {%for p in pd%}
  
      <div class="col-sm-4">
        <div class="card shadow p-1 mb-5" style="width: 26rem;">

              {% comment %} <img src="{% static 'img/1.png' %}" class="card-img-top"
                width="" height="220"> {% endcomment %}

              {%if p.img1.url != ''%}
                <img width="100" height="390" src="{{p.img1.url}}"class="card-img-top"> <br> <br>
              {%else%}
                <img width="250px" height="250px" src="{% static 'img/1.png'%}"> <br> <br>
              {%endif%}

          <div class="card-body">
            <h5 class="card-title" style="text-align: center">{{p.name}}</h5>
            <p class="card-text">ราคา : {{p.price}} บาท</p>
            <p class="card-text">จำนวน : {{p.qty}} {{p.unit}}</p>
            <p class="card-text">ยี่ห้อ : {{p.brand}}</p>
            <p class="card-text">ประกัน : {{p.productinsurance}} ปี</p>
            
            {% comment %} <p class="card-text">รายละเอียด : ยังไม่มี</p> {% endcomment %}
            <div class="text-right">
              <form action="/showproduct" method="POST">
              <a href="#"
                class="btn btn-primary" style="background-color: #2f9500;
                border-color: #2f9500;"><i class="bi bi-bag-plus-fill"></i> ซื้อ</a> 
               
                {% csrf_token %}
                <input type="hidden" value="{{p.id}}" name="id">
                <button type="submit" class="btn btn-primary"><i class="bi bi-calendar3-week"></i> ข้อมูลเพิ่มเติม</button>
            </form>
            </div>
          </div>
        </div>
      </div>

      {%endfor%}


{%endblock%}