{% extends 'main.html'%}
{% load static %}
{%block body%}

				{%for u in u%}
        
			<div class="container" style="width: 60%;padding-top: 2%;">
				<div class="card shadow p-3 mb-5 bg-white rounded">
					<div class="card-body">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-sm-12" style="text-align: center;">

						{%if u.images.url != ''%}
							<img width="" height="400px" src="{{u.images.url}} " > <br> <br>
						{%else%}
						<img width="250px" height="250px" src="{% static 'img/duser.png'%}"> <br> <br>
						{%endif%}

								<h2 class="animated rubberBand">{{u.username}}</h2>
							</div>
							<br>
							<div class="col m-5 ">
									<table class="table table-borderless" style="font-size: 20px">
										<thead>
											<tr>
												<th scope="row"><i class="fas fa-user-circle"></i>
													ชื่อผู้เข้าใช้</th>
												<td>{{u.username}}</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row"><i class="fas fa-signature"></i>ชื่อจริง</th>
												<td>{{u.fname}}</td>
											</tr>
											<tr>
												<th scope="row"><i class="fas fa-signature"></i> นามสกุล</th>
												<td>{{u.lname}}</td>
											</tr>
											{%if u.sex == 1%}
											<tr>
												<th scope="row"><i class=""></i>• เพศ</th>
												<td>ชาย</td>
											</tr>
											{%else%}	<tr>
												<th scope="row"><i class=""></i>• เพศ</th>
												<td>หญิง</td>
											</tr>
											{%endif%}
										
											<tr>
												<th scope="row"><i class="fas fa-envelope"></i> อีเมล</th>
												<td>{{u.email}}</td>
											</tr>
											<tr>
												<th scope="row"><i class="fas fa-phone"></i> เบอร์</th>
												<td>{{u.tell}}</td>
											</tr>

											<tr>
												<th scope="row"><i class="fas fa-address"></i>• ที่อยู่</th>
												<td>{{u.address}}</td>
											</tr>


										</tbody>
									</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

					<div style="text-align: center;padding-top:1%;">
						<a type="reset" class="btn btn-primary btn-lg" href="#"><i class="bi bi-pencil"></i> แก้ไขข้อมูล</a>
						<a type="reset" class="btn btn-secondary btn-lg" href="/"><i class="bi bi-arrow-left-circle"></i> กลับ</a>
						
					</div>


{%endfor%}





{%endblock%}