{% extends 'main.html'%}
{% load static %}
{%block body%}


{% comment %} add_product {% endcomment %}

<a tepe="button" href="/register" class="btn btn-success md-5 btn-lg"><i class="bi bi-person-plus-fill"></i> เพิ่ม</a>
<div style="padding-top:2%;"></div>

<table id="example"class="table table-hover" style="width:100%;text-align:center">
  <thead>
      <tr>
          <th>ชื่อผู้เข้าใช้</th>
          <th>ชื่อจริง</th>
          <th>นามสกุล</th>
          <th>เพศ</th>
          <th>อีเมล</th>
          <th>เบอร์</th>
          <th>แก้ไข/ลบ</th>
      </tr>
  </thead>
  
  <tbody>
    
      <tr>
        {%for u in u1%}
        {%if u.status_u != 1%}
          <td>{{u.username}}</td>
          <td>{{u.fname}}</td>
          <td>{{u.lname}}</td>

          {% if u.sex == 1 %}
          <td>ชาย</td>
          {%else%}
          <td>หญิง</td>
          {%endif%}
          <td>{{u.email}}</td>
          <td>{{u.tell}}</td>
          <td>
            

            <form action="#" method="POST">
              {% csrf_token %}
              <input type="hidden" name="id" value={{p.id}}>
              <a tepe="button" href="#" class="btn btn-primary md-5"><i class="bi bi-pencil-square"></i></a>
            <button tepe="submit" class="btn btn-danger md-5"><i class="bi bi-trash"></i></button>

            </form>

          </td>
          {%endif%}
         
      </tr>
      {%endfor%}
  
    </table>

    <div style="text-align: center;padding-top:5%;">
      <a type="reset" class="btn btn-secondary btn-lg" href="/admin_u"><i class="bi bi-arrow-left-circle"></i> กลับ</a>
    </div>  

{% endblock%}